// Here you can add other style
.table {
  td {
    vertical-align: middle;    
    max-width: 600px !important;
    max-height: 150px !important;
     canvas {
      max-width: 100%;
      max-height: 100%;
    }
  }
}